{{!-- <form action="/search" method="get"> --}}
    <input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" placeholder="search for food" id="foodSearch" />
    <input type="submit" value="go">
{{!-- </form> --}}
{{!-- tt-input class removed --}}