<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- for mobile responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link to w3 CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- material icons with Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Welcome to the Yum Yum Log!</title>
  </head>
  <body>

    {{{body}}}

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
