<div class="bgimg w3-display-container w3-animate-opacity w3-text-blue">
  <div class="w3-jumbo w3-animate-top w3-center">
    <h1>Yum Yum Log</h1>
  </div>
  <h2 class="w3-center w3-animate-top">Choose a Track.  Set a Goal.  Achieve Results.</h2>
  <div class="w3-row">
    <div id="loginBox" class="w3-container w3-col s6 w3-animate-top w3-mobile w3-center">
      <!-- action="/" method="POST" -->
        <form class="w3-panel w3-card-4" action="/authenticate" method="post">
          <h2 style="text-align: center">Returning User?</h2>
            <h3><label>Username</label></h3>
                <input class="w3-input" type="text" id="username" name="username" pattern="[a-zA-Z0-9\s]{0,30}" title="Alphanumeric characters only" placeholder="Username" required>
            <h3><label>Password</label></h3>
                <input class="w3-input" type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit" class="w3-button w3-green loginBtn">Login</button>
        </form>
    </div>

  <!-- {{#if username}}
    <div class="w3-col s12 w3-mobile">
     <a href="/users/{{username}}"><button type="submit" class="w3-button w3-green loginBtn">Go To My Log</button></a>
    </div>
    <div class="w3-col s12 w3-mobile">
      <a href="/logout"><button type="submit" class="w3-button w3-red loginBtn">Logout</button></a>
    </div>
  {{/if}} -->

    <div class="w3-container w3-col s6 w3-animate-top">
      <div class="w3-panel w3-card-4 w3-center">
        <a href="/signup" class="w3-hover-blue"><h2>Need to signup?</h2></a>
      </div>
    </div> <!-- end second column for registration link -->
  </div> <!-- end row -->
</div> <!-- end main container -->

{{> footer}}

{{!-- free hamster logos --}}
{{!-- https://www.flaticon.com/free-icons/hamster_197875 --}}
