{{!-- <div class="w3-container">
    <form action="/register" method="post">
        <label>Email Address</label>
        <label>Username</label>
        <input  id="username" name="username" placeholder="Username" type="text"  class="span12"/>
        <label>Password</label>
        <input id="password" name="password" placeholder="Password" type="password" class="span12">
        <div class="form-actions">
            <button type="submit" class="btn btn-success pull-right">Sign Up</button>
            <div class="clearfix"></div>
        </div>
    </form>
</div> --}}
<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="sideBar_Close()">Close &times;</button>
    <a href="/logout" class="w3-bar-item w3-button">Back to Login Page</a>
    <a href="#" class="w3-bar-item w3-button">See the Community Dashboard</a>
</div>


<div zclass="w3-main" id="sidebar">

  <div class="w3-jumbo">
    <div id="hamb_cont">
      <button id="dashboard_hamburger" class="w3-button w3-bisque w3-large" onclick="sideBar_Open()"><img id="logo" src="../assets/images/yyLogo.png" alt=""></button>
    </div>

    <div class="w3-container">
      <h2>Register to Start Yumming!</h2>
    </div>
  </div>

  <br>
  <br>


  <div id="register" class="w3-col s6 w3-mobile">
      <!-- action="/" method="POST" -->
      <form class="w3-panel w3-card-4" action="/register" method="post">
      <h2 style="text-align: center">New User?</h2>
      {{!-- PLEASE check with Jonathan before changing any of the form's 'name=' attributes. very important --}}
      {{!-- <h3><label>First Name</label></h3> --}}
          <input class="w3-input" type="text" id="reg_fn" name="firstName" pattern="[a-zA-Z\s]{0,30}" placeholder="First Name" title="Alphabet Characters Only" required>
          {{!-- <h3><label>Last Name</label></h3> --}}
          <input class="w3-input" type="text" id="reg_ln" name="lastName" pattern="[a-zA-Z\s]{0,30}" placeholder="Last Name" title="Alphabet Characters Only" required>
      {{!-- <h3><label>Username</label></h3> --}}
          <input class="w3-input" type="text" id="reg_username" name="username" pattern="[a-zA-Z0-9\s]{0,30}" placeholder="Username" title="Alphanumeric Characters Only" required>
      {{!-- <h3><label>Password</label></h3> --}}
          <input class="w3-input" type="password" id="reg_password" name="password" placeholder="Password" title="Alphabet Characters Only" required>
      {{!-- <h3><label>Confirm Password</label></h3> --}}
          <input class="w3-input" type="password" id="reg_password" placeholder="Confirm Password" required>
          <button type="submit" class="w3-button w3-red regBtn">Register</button>
      </form>
  </div>


  <footer class="w3-center w3-card-4">
      <a href="https://github.com/DizDonut/YumYumLog" target="_blank">GitHub Repo</a>
      <a class="github-button" href="https://github.com/dizDonut/YumYumLog/subscription" data-show-count="true" aria-label="Watch dizDonut/YumYumLog on GitHub">Watch</a>
    <ul>
      <a class="github-button" href="https://github.com/dizDonut" data-show-count="true" aria-label="Follow @dizDonut on GitHub">Follow @dizDonut</a>
      <a class="github-button" href="https://github.com/jbcurrie" data-show-count="true" aria-label="Follow @jbcurrie on GitHub">Follow @jbcurrie</a>
      <a class="github-button" href="https://github.com/travjbarnes" data-show-count="true" aria-label="Follow @travjbarnes on GitHub">Follow @travjbarnes</a>
      <a class="github-button" href="https://github.com/buikevin96" data-show-count="true" aria-label="Follow @buikevin96 on GitHub">Follow @buikevin96</a>
    </ul>
  </footer>
</div> <!-- end zclass sidebar -->
