<div class="w3-container">
  <div class="w3-row">
    <div class="w3-display-topmiddle">
      <h3>Yum Yum Log!</h3>
      <h4>Choose a track.  Set a Goal.  Achieve Results</h4>
    </div> <!-- end top middle class -->
  </div> <!-- end first row of container -->
  <div class="w3-row">
    <div class="w3-container w3-third w3-teal">
      <h2>User Login</h2>
    </div>
  </div>


</div> <!-- end container -->
