
<div class="w3-container">
  <div class="w3-row">
    <div class="w3-display-topmiddle">
      <h3>Yum Yum Log!</h3>
      <h4>Choose a track.  Set a Goal.  Achieve Results</h4>
    </div> <!-- end top middle class -->
  </div> <!-- end first row of container -->
  <div class="w3-row main-content">
    <div class="w3-container w3-teal">
      <h2>User Login</h2>
    </div>
    <form action="/authenticate" method="post" class="w3-container">

      <label class="w3-text-teal"><b>username</b></label>
      <input class="w3-input w3-border w3-light-grey" id="username" name="username" placeholder="Username" type="text">

      <label class="w3-text-teal"><b>password</b></label>
      <input class="w3-input w3-border w3-light-grey" id="password" name="password" placeholder="Password" type="password">

      <button type="submit" class="w3-btn w3-blue-grey">Login</button>
      <a href="/signup">Not Registered?</a>

    </form>
    {{!-- register --}}
  </div>
</div> <!-- end container -->
<footer>
    <a href="https://github.com/DizDonut/YumYumLog" target="_blank">GitHub Repo</a>
    <a class="github-button" href="https://github.com/dizDonut/YumYumLog/subscription" data-show-count="true" aria-label="Watch dizDonut/YumYumLog on GitHub">Watch</a>
  <ul>
    <a class="github-button" href="https://github.com/dizDonut" data-show-count="true" aria-label="Follow @dizDonut on GitHub">Follow @dizDonut</a>
    <a class="github-button" href="https://github.com/jbcurrie" data-show-count="true" aria-label="Follow @jbcurrie on GitHub">Follow @jbcurrie</a>
    <a class="github-button" href="https://github.com/travjbarnes" data-show-count="true" aria-label="Follow @travjbarnes on GitHub">Follow @travjbarnes</a>
    <a class="github-button" href="https://github.com/buikevin96" data-show-count="true" aria-label="Follow @buikevin96 on GitHub">Follow @buikevin96</a>
  </ul>
</footer>

    {{!-- <form action="/authenticate" method="post">
        <label>Username</label>
        <input  id="username" name="username" placeholder="Username" type="text"  class="span12"/>
        <a class="reset-password" href="#">Forgot your password?</a>
        <label>Password</label>
        <input id="password" name="password" placeholder="Password" type="password" class="span12">
        <div class="form-actions">
  <a class="btn btn-primary" href="/signup"> Sign Up!</a>
          <button type="submit" class="btn btn-success pull-right">Sign In</button>
          <div class="clearfix"></div>
      </div>
    </form> --}}
